.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    transition: background .18s ease, box-shadow .18s ease, transform .18s ease;
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar .profile{
    width: 40px;
}
.login-conditon{
    font-size: 20px;
    cursor: pointer;
    color: var(--text);
}